.Psistema{
    padding-left: 30pc;
    font-size: 2pc; 
    text-align: justify;
    color: black;
}
.d2{
    margin-top: -30pc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subtitulo{
    font-size: 2pc;
    margin-top: 2.9pc;
}

  