body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    color: #ff9900;
  } 
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
  }
  
  th {
    background-color: #fe7e39;
    color: #ffffff;
    padding: 10px;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #ffe6b3;
  }
  
  .categoria {
    font-weight: bold;
    color: #ff9900;
  }
  