
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #ff6a00;
  padding: 30px;
} 

.logo a {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif;
}

.menu li a:hover {
  background-color: #ff6a00;
}

.menu-section {
  padding: 30px;
  background-color: white;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.menu-item {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 4px;
  background-color: #fff6f0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.menu-item h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #ff782d;
}

.menu-item p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.hours-section {
  padding: 40px;
  background-color: #ff782d;
  color: white;
}

.hours-section h2 {
  margin-top: 0;
}

.hours-section p {
  margin-top: 10px;
  font-size: 16px;
}

.descripcion{
font-family: Arial, Helvetica, sans-serif;
  margin-left: 2pc;
}
.immm{
width: 10pc;
}
footer {
background-color: #ff6a00;
color: #fff;
padding: 50px;
display: flex;
justify-content: space-between;
}

.footer-section {
flex-basis: 30%;

}

.footer-section h3 {
text-align: center;
margin-bottom: 10px;
border-bottom: 2px solid #fff;
padding-bottom: 5px;
}

.footer-section p {
line-height: 1.6;
}

.footer-section ul {
list-style: none;
padding: 0;
}

.footer-section li {
margin-bottom: 10px;
display: inline-block;
}

.footer-section a {
color: #fff;
margin-left: 40px;
text-decoration: none;
}

.footer-section a:hover {
text-decoration: underline;
} 
.icono{
transition: transform 0.3s ease;

}
.icono:hover{
transform: scale(1.8);
}
